langchain
langchain-community
langchain-openai
langchain-core
langgraph
openai

requests
git+https://github.com/nhorvath/Pyrebase4.git@main

pytest
pytest-asyncio
pytest-timeout

watchdog

cryptography
bcrypt
argon2-cffi

rich
colorama

python-dotenv
pydantic
requests

isort
pyright
setuptools
wheel
