langchain
langchain-community
langchain-openai
openai

requests
python-firebase

pytest
pytest-asyncio
pytest-timeout

watchdog

cryptography
bcrypt
argon2-cffi

rich
colorama

python-dotenv
pydantic
requests

isort
pyright

firebase-admin
